@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-gray-900 text-gray-100;
}

@layer utilities {
  .nav-item {
    @apply relative transition-colors duration-300;
  }

  .nav-item::after {
    content: '';
    @apply absolute h-[2px] bottom-[-4px] left-1/2 -translate-x-1/2 bg-amber-400 transition-all duration-300 w-0;
  }

  .nav-item:hover::after,
  .nav-item.active::after {
    @apply w-full;
  }

  .scroller {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scroller::-webkit-scrollbar {
    display: none;
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.animate-pop {
  animation: pop 0.3s ease-in-out;
}

.page {
  @apply animate-fadeIn;
}